<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>RestaurantSingup</display-name>
    <servlet-name>RestaurantSingup</servlet-name>
    <servlet-class>com.swiggy.controller.RestaurantSingup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantSingup</servlet-name>
    <url-pattern>/RestaurantSingup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurentLogin</display-name>
    <servlet-name>RestaurentLogin</servlet-name>
    <servlet-class>com.swiggy.controller.RestaurentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurentLogin</servlet-name>
    <url-pattern>/RestaurentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.swiggy.userServlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.swiggy.userServlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.swiggy.cartServlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.swiggy.cartServlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderFromCart</display-name>
    <servlet-name>OrderFromCart</servlet-name>
    <servlet-class>com.swiggy.orderServlet.OrderFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFromCart</servlet-name>
    <url-pattern>/OrderFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.swiggy.restaurantServlet.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.swiggy.userServlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderByFoodItem</display-name>
    <servlet-name>OrderByFoodItem</servlet-name>
    <servlet-class>com.swiggy.orderServlet.OrderByFoodItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderByFoodItem</servlet-name>
    <url-pattern>/OrderByFoodItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReview</display-name>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>com.swiggy.reviewServlet.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStatus</display-name>
    <servlet-name>OrderStatus</servlet-name>
    <servlet-class>com.swiggy.orderServlet.OrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStatus</servlet-name>
    <url-pattern>/OrderStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.swiggy.restaurantServlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>User Logout Servlet</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.swiggy.userServlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryLogin</display-name>
    <servlet-name>DeliveryLogin</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.DeliveryLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryLogin</servlet-name>
    <url-pattern>/DeliveryLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryRegister</display-name>
    <servlet-name>DeliveryRegister</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.DeliveryRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryRegister</servlet-name>
    <url-pattern>/DeliveryRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPartnerProfile</display-name>
    <servlet-name>DeliveryPartnerProfile</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPartnerProfile</servlet-name>
    <url-pattern>/DeliveryPartnerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPartnersProfile</display-name>
    <servlet-name>DeliveryPartnersProfile</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPartnersProfile</servlet-name>
    <url-pattern>/DeliveryPartnersProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPin</display-name>
    <servlet-name>ResetPin</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPin</servlet-name>
    <url-pattern>/ResetPin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>To pick the prepared order from restaurant</description>
    <display-name>PickOrder</display-name>
    <servlet-name>PickOrder</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.PickOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PickOrder</servlet-name>
    <url-pattern>/PickOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>To mark order as delivered by comparing delivery_code</description>
    <display-name>OrderDelivered</display-name>
    <servlet-name>OrderDelivered</servlet-name>
    <servlet-class>com.swiggy.deliveryServlet.OrderDelivered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDelivered</servlet-name>
    <url-pattern>/OrderDelivered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPRequest</display-name>
    <servlet-name>OTPRequest</servlet-name>
    <servlet-class>com.swiggy.auth.OTPRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPRequest</servlet-name>
    <url-pattern>/OTPRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPVerification</display-name>
    <servlet-name>OTPVerification</servlet-name>
    <servlet-class>com.swiggy.auth.OTPVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPVerification</servlet-name>
    <url-pattern>/OTPVerification</url-pattern>
  </servlet-mapping>
</web-app>